<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.portfolio.board.api.mapper.CategoryMapper">
    <resultMap id="categoryResultMap" type="com.portfolio.board.api.domain.Category">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="createdAt" column="created_at"/>
        <result property="createdBy" column="created_by"/>
        <result property="modifiedAt" column="modified_at"/>
        <result property="modifiedBy" column="modified_by"/>
    </resultMap>

    <select id="searchCategoryByKeywordXml" parameterType="string" resultMap="categoryResultMap">
        SELECT
            id
            , name
            , created_at
            , created_by
            , modified_at
            , modified_by
        FROM category
        WHERE UPPER(name) LIKE CONCAT('%', UPPER(#{keyword}), '%')
            OR UPPER(id) LIKE CONCAT('%', UPPER(#{keyword}), '%')
        ORDER BY created_at DESC
    </select>
</mapper>