<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.portfolio.board.api.mapper.PostMapper">
    <resultMap id="postResultMap" type="com.portfolio.board.api.dto.PostDto$Response">
        <id property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <result property="categoryName" column="category_name"/>
        <result property="createdAt" column="created_at"/>
        <result property="modifiedAt" column="modified_at"/>
        <result property="deletedAt" column="deleted_at"/>
        <result property="createdByName" column="created_by_name"/>
        <result property="modifiedByName" column="modified_by_name"/>
    </resultMap>
    
    <select id="searchPostByKeywordXml" parameterType="string" resultMap="postResultMap">
        SELECT
            a.id
            , a.title
            , a.content
            , b.name          as category_name
            , a.created_at
            , a.created_by
            , a.modified_at
            , a.modified_by
            , c.name            AS created_by_name
            , d.name            AS modified_by_name
        FROM
            post a
        LEFT JOIN category b ON a.category_id = b.id
        LEFT JOIN MEMBER c ON a.created_by = c.id
        LEFT JOIN MEMBER d ON a.modified_by = d.id
        WHERE a.deleted_at IS NULL
            AND (UPPER(a.title) LIKE CONCAT('%', UPPER(#{keyword}), '%')
            OR UPPER(a.content) LIKE CONCAT('%', UPPER(#{keyword}), '%')
            OR UPPER(b.name) LIKE CONCAT('%', UPPER(#{keyword}), '%'))
<!--        ORDER BY a.id DESC-->
    </select>
    <select id="findById" parameterType="Long" resultMap="postResultMap">
        SELECT
        a.id
        , a.title
        , a.content
        , b.name            AS category_name
        , a.created_at
        , a.modified_at
        , c.name            AS created_by_name
        , d.name            AS modified_by_name
        FROM post a
        LEFT JOIN category b ON a.category_id = b.id
        LEFT JOIN MEMBER c ON a.created_by = c.id
        LEFT JOIN MEMBER d ON a.modified_by = d.id
        WHERE a.id = #{postId}
            AND a.deleted_at IS NULL
    </select>
    <select id="findAll" resultMap="postResultMap">
        SELECT
        a.id
        , a.title
        , a.content
        , b.name            AS category_name
        , a.created_at
        , a.modified_at
        , c.name            AS created_by_name
        , d.name            AS modified_by_name
        FROM post a
        LEFT JOIN category b ON a.category_id = b.id
        LEFT JOIN MEMBER c ON a.created_by = c.id
        LEFT JOIN MEMBER d ON a.modified_by = d.id
        WHERE a.deleted_at IS NULL
<!--        ORDER BY a.id DESC-->
    </select>
    <select id="findDeletedPosts" resultMap="postResultMap">
        SELECT
        a.id
        , a.title
        , a.content
        , b.name            AS category_name
        , a.created_at
        , a.modified_at
        , c.name            AS created_by_name
        , d.name            AS modified_by_name
        FROM post a
        LEFT JOIN category b ON a.category_id = b.id
        LEFT JOIN MEMBER c ON a.created_by = c.id
        LEFT JOIN MEMBER d ON a.modified_by = d.id
        WHERE a.deleted_at IS NOT NULL
        AND c.username = #{currentUserName}
    </select>
</mapper>